@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1c1814;
  --main-color: #af490d;
}
::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
 
.drag { 
  -webkit-app-region: drag;
}
 .no-drag{
  -webkit-app-region: none;
 }
.scrool-none {
  display: none;
  --webkit-scrollbar: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: #58595a;
}

a {
  text-decoration: none;
}
